
    tr, th, td, table {
        border: 1px solid black;
 /* permet de faire appairaitre visuellement  */
 /* le tableau   */
        /* border-collapse: collapse; */
   /* permet de coller les colones pour avoir un tableau plus propre */

        border-radius: 25px;
/* border-radius : 50% arrondir les cases du tableau  */
   } 
 
 
 tr td {
    text-align: center;
 }
 /* permet de centrer  */
 
 tr:nth-child(1) {background-color: red;}
 /* permet de surligner en coulours la 1 ere ligne de chaque tableau  */

.Bonjour tr{
    background-color: blue;
}
/* permet de changer la couleur d'un tableau précisement en lui donnant une classe au préalable
sur le html */

#animal:hover{
    cursor: pointer;
}

#message {
    resize: none;
}
/* je retire la possibilité de definir la taille du textearea */

/* je créer une animation qui ce nomme animationimg au début elle va transform scalex en -1 
puis elle va transform scalex en 1 t à la fin elle va transform scalex en -1 */
@keyframes animationimg {
0% {
    transform: scaleX(-1);
}
50% {
    transform: scaleX(1);
}
100%{
    transform: scaleX(-1);
}
}

img{
    border: 3px dashed red;
    border-radius: 25px;
    opacity: 0,6;
    animation: animationimg 8s ease-in infinite;
    /* je dit que l'élément img joue l'aniation animationimg qu'elle doit durée 8s en fonctionnement
    en ease-in et elle ce joue un nombre infini de fois  */
}
/* heigt auto et max-widht la photo devient récursive   */
/* border enrourer l'image avec une bordure de couleur et border radius pour arrondir les bordure
opacity pour définir l'opacité de notre image  */
/* /* filter : blur ( flouter l'image ), filter : contrast ( changer le contraste ) */

img:hover {
    transform: scaleX(-1);
}
/* scaleY pour faire retourner l'image dans l'autre sens */